@import 'global';
@import 'animations';

.data-post-contain{
    width: 100%;
    padding: 150px 0px;
    background-color: #f9f9f9;
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        h4{
            color: #34495e;
            font-size: 20px;
            font-weight: 900;
            margin: 0px;
            line-height: 2.5rem;
        }
        p{
            color: #888;
            font-size: 15px;
            line-height: 2.5rem;
            margin: 20px 0px;
            font-weight: 500;
        }
        .phone-numbers{
            li{
                margin-bottom: 15px;
                a{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    img{
                        width: 25px;
                        height: 25px;
                        object-fit: contain;
                        filter: invert(74%) sepia(72%) saturate(1988%) hue-rotate(345deg) brightness(100%) contrast(96%);
                    }
                    span{
                        color: #34495e;
                        font-size: 15px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
            }
        }
        .socail-media{
            display: flex;
            align-items: center;
            align-content: center;
            li{
                margin-left: 15px;
                &:last-child{
                    margin: 0px;
                }
                a{
                    width: 40px;
                    height: 40px;
                    border: 1px solid #34495e;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    border-radius: 50%;
                    &:hover{
                        background-color: #34495e;
                        img{
                            filter: invert(71%) sepia(96%) saturate(1050%) hue-rotate(339deg) brightness(95%) contrast(106%);
                        }
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        filter: invert(24%) sepia(9%) saturate(2109%) hue-rotate(169deg) brightness(96%) contrast(84%);
                    }
                }
            }
        }
    }
    .image-content{
        width: 100%;
        height: 400px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain !important;
        }
    }
}